/* Styling the root layout */
.root {
    -fx-background-color: lightblue;
}

/* Styling a button */
.button {
    background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Styling the Label */
.label {
    -fx-text-fill: #2c3e50;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

/* Add hover effect */
.button:hover {
    -fx-background-color: #2980b9;
}

.tabpane {
    background-color: #3498db;
}